{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
<h2>{{message}}</h2>
    <h1>All Pages</h1>
    {% if results < 0 %}
    <h1> your search returned {{results}}</h1>
    	{% endif %}

    <div class="container">
        <div class="d-flex flex-column">
            {% for entry in entries %}
            <div class="p-2 title"><a  href="{% url 'wiki:singlepage' entry %}"> {{ entry }}</a></div>
            {% endfor %}
            
        </div>
    </div>

  
        


    

{% endblock %}